.navbar-brand{
    font-size: 30px;
    
}
.img-responsive{
  width:1200px;
  border-radius: 4px;
  padding: 5px;
    height: 800px;
    align-content: center;

    
    
}
h2{
    text-align: center;
}
body{
    text-align: center;
  
    
        
}